<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" \></h1>
    </header>
    <div>
        <table>
            <tr>
                <th>{{localize "rmfbytucansilver.i18ItemComun.cost"}}</th>
                <th>{{localize "rmfbytucansilver.i18ItemComun.weight"}}</th>
                <th>{{localize "rmfbytucansilver.i18ItemArmor.armorType"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="data.cost" type="text" value="{{systemData.cost}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.weight" type="text" value="{{systemData.weight}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.armorType" type="text" value="{{systemData.armorType}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
        <div class="panelBorder sheet-card">
            <h2>{{localize "rmfbytucansilver.i18ItemComun.description"}}</h2>
            {{editor content=systemData.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>