<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" \></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize 'rmfbytucansilver.i18ItemWeapon.attackWith' }}</th>
                <th>{{localize "rmfbytucansilver.i18ItemWeapon.damage"}}</th>
                <th>{{localize "rmfbytucansilver.i18ItemComun.cost"}}</th>
                <th>{{localize "rmfbytucansilver.i18ItemWeapon.weaponType"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="data.attackWith">
                        {{#select systemData.attackWith}}
                        {{#each config.weaponAttackTypes as |name attackType|}}
                        <option value="{{attackType}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.damage" type="text" value="{{systemData.damage}}" data-dtype="String" />
                </td>
                <td>
                    <input name="data.cost" type="text" value="{{systemData.cost}}" data-dtype="String" />
                </td>
                <td>
                    <select name="data.weaponType">
                        {{#select systemData.weaponType}}
                        {{#each config.weaponTypes as |name weaponType|}}
                        <option value="{{weaponType}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
            <tr>
                <th>{{localize "rmfbytucansilver.i18ItemComun.weight"}}</th>
                <th>{{localize "rmfbytucansilver.i18ItemWeapon.breakageNumbers"}}</th>
                <th>{{localize "rmfbytucansilver.i18ItemWeapon.weaponStrength"}}</th>
                <th>{{localize "rmfbytucansilver.i18ItemWeapon.fumble"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="data.weight" type="text" value="{{systemData.weight}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.breakageNumbers" type="text" value="{{systemData.breakageNumbers}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.weaponStrength" type="text" value="{{systemData.weaponStrength}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.fumble" type="text" value="{{systemData.fumble}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
        <div>
            <h2>{{localize "rmfbytucansilver.i18ItemComun.description"}}</h2>
            {{editor content=systemData.description target="data.description" button=true owner=owner editable=editable}}
            <br />&nbsp;<br />&nbsp;<br />&nbsp; 
        </div>
    </div>
</form>